@model Spifield.ViewModels.RegisterVM

<div class="body-content">
    <div class="row">
        <div class="col-md-6 my-auto">
            <h2 class="text-center text-white-50">
                Gra dla prawdziwych wojowników... Czy czujesz się na siłach?
            </h2>
        </div>
        <div class="col-md-6">
            <h2 class="text-center text-light">Rejestracja</h2>
            <hr />

            <form asp-controller="UserAccount" asp-action="Register" method="post" role="form">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <div class="offset-md-1 col-md-10">
                        <input asp-for="UserName" class="form-control" placeholder="Nazwa użytkownika" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="offset-md-1 col-md-10">
                        <input asp-for="Email" class="form-control" placeholder="Adres e-mail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="offset-md-1 col-md-10">
                        <input asp-for="Password" class="form-control" placeholder="Hasło" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="offset-md-3 col-md-6">
                        <input type="submit" class="btn btn-success btn-block" value="Zarejestruj się" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

