@{
    ViewData["Title"] = "Spifield - Strona główna";
}

<div class="body-content">
    <div class="row col-md-8 offset-md-2">
        <h1 class="text-white">
            Witaj w Spifield
        </h1>
    </div>
    <div class="row col-md-8 offset-md-2">
        <h5 class="text-justify text-white-50">
            W krainie Spifield położonej na osamotnionej wyspie panuje odwieczna walka nacji.
            Konflikty na tle posiadania przez każdą z nich coraz to większej ilości ziem spowodowały
            rozlew krwi, który pochłonął miliardy istnień.
            Ty, wędrowcze, przybywasz do tejże krainy i masz za zadanie poznać wszystkie obozy i wybrać,
            do którego zdecydujesz się należeć. Jaka będzie twoja decyzja?
            Będą to potężne <span class="text-danger">olbrzymy</span>,
            perfekcyjnie wyszkolone w łucznictwie <span class="text-success">elfy</span>,
            władający czarami <span style="color: royalblue">magowie</span>
            czy mistrzowie fechtunku - <span class="text-warning">ludzie</span>?
        </h5>
    </div>
</div>